<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<title>App Title</title>
</head>

<body role="document">
	<div th:replace="layout :: navBar">Navigation Bar</div>

	<div class="container">
		<div class="page-title">Spiele</div>

		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Id</th>
					<th>Datum</th>
					<th>Team A</th>
					<th>Team B</th>
					<th>Tore Team A</th>
					<th>Tore Team B</th>
					<th>Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${spiele}">
					<td th:text="${game.id}" />
					<td th:text="${#dates.format(game.date, 'MM/dd/yyyy')}" />
					<td th:text="${game.teamA.name}" />
					<td th:text="${game.teamB.name}" />
					<td th:text="${game.toreA}" />
					<td th:text="${game.toreB}" />
					<td>
					<div>
					<form action="#" th:action="@{|/spiele/entries/${game.id}/update|}">
						<input type="submit" value="Edit" class="btn btn-default"/>
					</form>
					<form action="#" th:action="@{|/spiele/entries/${game.id}/addTipp|}">
						<input type="submit" value="Tipp" class="btn btn-default"/>
					</form>
					</div>
					</td>
				</tr>
			</tbody>
		</table>
		<form action="#" th:action="@{|/spiele/entries/new|}">
			<input type="submit" value="Hinzufuegen" class="btn btn-success" />
		</form>

	</div>
</body>
</html>