<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<title>App Title</title>
</head>

<body role="document">
	<div th:replace="layout :: navBar">Navigation Bar</div>

	<div class="container">
		<div class="page-title">Spiel Update/Hinzufügen</div>

		<form th:object="${entry}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="row">
				<div class="form-group col-sm-12">
					<label for="date">Datum:</label>
					<div class="input-group date" data-provide="datepicker">
						<input id="date" th:field="*{date}" type="text"
							class="form-control" />
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="teamA">Team A:</label>
					<select id="teamA" th:field="*{teamA}" class="form-control">
						<option th:each="team : ${teams}"
								th:value="${team.name}"
								th:label="${team.name}"/>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="teamB">Team B:</label>
					<select id="teamB" th:field="*{teamB}" class="form-control">
						<option th:each="team : ${teams}"
								th:value="${team.name}"
								th:label="${team.name}"/>
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="toreA">Tore Team A</label>
					<input id="toreA" type="number" th:field="*{toreA}" />
				</div>
				<div class="form-group col-sm-6">
					<label for="toreB">Tore Team B</label>
					<input id="toreB" type="number" th:field="*{toreB}" />
				</div>
			</div>

			<input type="submit"
				th:value="${entry.id == null ? 'Add' : 'Update'}"
				class="btn btn-success" />

		</form>
	</div>
	<div th:replace="layout :: scripts"></div>
</body>
</html>