<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DERBY network server properties -->
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.connection.url">jdbc:derby://localhost/WorkLogDb;create=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>

        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>

        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- mapping defined in a mapping file -->
        
        <mapping  class="swt6.orm.domain.Employee" resource="swt6/orm/domain/Employee.hbm.xml"/>
        <mapping  class="swt6.orm.domain.LogbookEntry" resource="swt6/orm/domain/LogBookEntry.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
